{% extends 'base.html' %} {% block content %}
<div class="table-responsive">
  <table id="sample-table" class="table table-striped table-bordered">
    <thead class="thead-light">
      <tr>
        <th>Sample ID</th>
        <th>Sample Name</th>
        <th>Tube/Plate Label</th>
        <th>Well</th>
        <th>Submitting Lab</th>
        <th>Project</th>
        <th>Genus/species</th>
        <th>Date submitted</th>
        <th>Requested services</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Sample ID</th>
        <th>Sample Name</th>
        <th>Tube/Plate Label</th>
        <th>Well</th>
        <th>Submitting Lab</th>
        <th>Project</th>
        <th>Genus/species</th>
        <th>Date submitted</th>
        <th>Requested services</th>
      </tr>
    </tfoot>
  </table>
</div>
{% endblock %} {% block inline_javascript %}
<script type="text/javascript">
  $(document).ready(function () {
    $('#sample-table tfoot th').each(function () {
      var title = $(this).text();
      $(this).html('<input type="text" placeholder="Search ' + title + '" />');
    });

    $('#sample-table').DataTable({
      ajax: {
        url: '/api/sample/',
        dataSrc: '',
      },
      order: [[0, 'desc']],
      lengthMenu: [
        [10, 50, 100, -1],
        [10, 50, 100, 'All'],
      ],
      columns: [
        {
          data: 'sample_id',
          render: function (data, type, row, meta) {
            if (type === 'display') {
              var link = '/sample_database/' + data;
              return '<a href="' + link + '">' + data + '</a>';
            }
            return data;
          },
        },
        { data: 'sample_name' },
        { data: 'tube_plate_label' },
        { data: 'well' },
        { data: 'submitting_lab' },
        {
          data: null,
          defaultContent: '',
          render: function (data, type, row) {
            var bmh_project = row.bmh_project || '';
            var submitter_project = row.submitter_project || '';
            var project_display = bmh_project;

            if (submitter_project !== '') {
                project_display += ' (' + submitter_project + ')';
            }

            return project_display;
            }
        },
        {
          data: null,
          defaultContent: '',
          render: function (data, type, row) {
            var genus = row.genus || '';
            var species = row.species || '';
            var result = genus + ' ' + species;
            return result;
          }
        },
        { data: 'created' },
        { data: 'requested_services' },
      ],
      language: {
        search: 'Search all fields:',
      },
      dom: '<lf<t>ipB>',
      buttons: [
        'copy', 'csv', 'print'
      ],
      columnDefs: [
        {
            targets: [3],
            visible: false,
            searchable: false,
            exportOptions: {
                columns: ':visible'
            }
        }
      ],
      initComplete: function () {
        // Apply the search
        this.api()
          .columns()
          .every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change clear', function () {
              if (that.search() !== this.value) {
                that.search(this.value).draw();
              }
            });
          });
      },
    });
  });
</script>
{% endblock %}
